{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>Aida Roshani - Blog </title>
<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">

      <div class="page-title">
        <h1>Blog</h1>
      </div>

      <div id="content" class="page-content site-content single-post" role="main">
        <div class="row">
          <div class=" col-xs-12 col-sm-12">
            <div class="blog-masonry two-columns clearfix">
              {% for post in published_posts %}
              <!-- Blog Post 1 -->
              <div class="item">
                <div class="blog-card">
                  <div class="media-block">
                    <div class="category">
                      {% for cat in post.category.all %}
                        <a href="#" title= "View all posts in {{cat.name}}">{{cat.name}}</a>
                      {% endfor %}
                    </div>
                    <a href="{% url 'blog:single' pid=post.id%}">
                      <img src="{{post.image.url}}" alt="{{post.title}}"/>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="row">
                      <div class="col-xs-12 col-sm-9">
                        <a href="{% url 'blog:single' pid=post.id%}">
                          <h4 class="blog-item-title">{{post.title}}</h4>
                        </a>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="post-date">
                          <b>{{post.counted_view}} Views</b>
                        </div>
                      </div>
                    </div>
                    <p></p>
                    <p style="text-align:justify;">{{post.content|truncatechars:150}}</p>
                    <div class="post-date">{{post.published_date|date:"j M Y"}}</div>
                  </div>
                </div>
              </div>
              <!-- End of Blog Post 1 -->
              {% endfor %}
            </div>
            <a class="btn btn-primary" href="#">See All Posts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}